main {
    .titulo-index {
        display: flex;
        justify-content: center;
        margin: 4% 0;
        font-family: "Oswald";
        font-size: 45px;}

    p {display: flex;
        justify-content: center;
        font-family: "Oswald";
        font-size: 30px;
        margin: 0px 100px;

    }
}