main {
    .titulo-index {
        display: flex;
        justify-content: center;
        margin: 4% 0;
        font-family: "Oswald";
        font-size: 45px;}

    p {display: flex;
        justify-content: center;
        font-family: "Oswald";
        font-size: 30px;
        margin: 0px 100px;

    }

    .ubi-titulo {display: flex;
        justify-content: center;
        margin: 4%;
        font-family: "Oswald";
        font-size: 45px;}

    .mapa-ubicacion {display: flex;
                    justify-content: center;
                    align-items:flex-end;
                    margin: 0px 0px;
                    border: 3px solid black;}}

    .contacto-titulo {display: flex;
                    justify-content: center;
                    margin: 4%;
                    font-family: "Oswald";
                    font-size: 45px;               
    }